<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900">
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav  text-xl">
            <a class="text-blue-500" href="/read">All Users</a>
        </div>
        <div class="nav mb-5 text-xl">
            <a class="text-blue-500" href="/">Go Back to home</a>
        </div>
        <h1 class=" text-3xl mb-3 tracking-tighter">Edit User</h1>
        <form action="/edit/<%= editUser.name %>" method="post">
          <input
            name="editname"
            class="mt-2 block w-1/3 rounded outline-none bg-zinc-800 px-5 py-2"
            type="text"
            placeholder="Enter Name"
            value="<%= editUser.name %>"
          />
          <input
            name="editusername"
            class="mt-2 block w-1/3 rounded outline-none bg-zinc-800 px-5 py-2"
            type="text"
            placeholder="Enter UserName"
            value="<%= editUser.username %>"
          />
          <input
            name="editimgurl"
            class="mt-2 block w-1/3 rounded outline-none bg-zinc-800 px-5 py-2"
            type="text"
            placeholder="Enter Image Url"
            value="<%= editUser.imgurl %>"
          />
          <input
            name="editemail"
            class="mt-2 block w-1/3 rounded outline-none bg-zinc-800 px-5 py-2"
            type="text"
            placeholder="Enter Email Id"
            value="<%= editUser.email %>"
          />

          <input class="mt-5 bg-blue-600 px-3 py-2 rounded-md" type="submit" value="Edit User" />

        </form>
    </div>
</body>
</html>